/* Колір основного тексту : rgba(33, 33, 33, 1); */
/*  Вторинний колір : #757575; */
/* Первинний колір лого: #000000 */
/* Вторинний колір лого:
/* Акцент: #2196F3 */
/* Білий колір (футер) первинний: #FFFFFF  */
/* Білий колір (футер) вторинний: rgba(255, 255, 255, 0.6) */
/*Вторинний колір фону:  #2F303A */
/* Первинний колір фону:                  */
/* відстань між словами (буквами letter-spacing): 0.03em; */
/* Колір тексту імейлу і тел в футері: rgba(255, 255, 255, 0.6); */
/* Фон футера: #2F303A; */
/* Фон для героя :background: #2F303A; */
/* Фон при фокусі і ховері в герої: #188CE8 */

:root {
  --first-background: #ffffff;
  --accent-color: #2196f3;
  --first-logo-color: rgba(0, 0, 0, 1);
  --main-color-text: #212121;
  --second-color-text: #757575;
  --font-family: 'Roboto', sans-serif;
  --footer-main-color-text: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --backgroud-color-hero: #2f303a;
  --background-color-team: #f5f4fa;
  --background-color-button-hero: #188ce8;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color-text);
  background-color: var(--first-background);
}

body.modal-open {
  overflow: hidden;
}

/* зняття підкреслення */
.underline {
  text-decoration: none;
}

.container {
  /* екран телефону */
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* вирівнювання по центру */
.centered {
  text-align: center;
}

/* екран планшету */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* екран компютера */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* заголовки */
.title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
  }
}

/* Зняття маркерів */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  display: block;
}

.styled {
  font-style: normal;
}

/* Прихований заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* СТИЛІЗАЦІЯ СТУДІЇ- HTML */
/* Синій колір для логотипу */
@media screen and (max-width:767px) {
  .header{
    padding-top: 10px;padding-bottom: 10px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 26px;
    letter-spacing: 0.78px;
    line-height: 1.19;
  }
}

.logo-link > .span-logo {
  color: var(--accent-color);
}

/* Стилізація чорного кольору для логотипу */
.logo-header {
  color: var(--first-logo-color);
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    margin-right: 93px;
    padding-bottom: 25px;
    padding-top: 24px;
  }
}

/* MOBILE MENU */

.menu-button {
  padding: 0;
  margin-left: auto;

  display: inline-flex;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button > .open-mobile {
  transition: fill 250ms linear;
}

.menu-button:hover > .open-mobile,
.menu-button:focus > .open-mobile {
  fill: var(--accent-color);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;

  padding: 0;

  display: inline-flex;

  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.menu-toggle .close-mobile {
  transition: fill 250ms linear;
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    padding: 48px 40px;

    display: none;

    background-color: var(--first-background);

    /* transform: translateX(100%); */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    /* transition: transform 2000ms linear; */

    overflow-y: scroll;
    /* visibility: hidden; */
    /* opacity: 0; */
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

.menu-container.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  display: block;
  /* transform: translateX(0); */

  /* opacity: 1; */
  /* visibility: initial; */
}

/* розтягнення навігації */
@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .navigation-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.current-item {
  position: relative;
}

.nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  text-decoration: none;

  display: block;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.28px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-item:not(:last-child) {
    margin-right: 50px;
  }
}

/* Стилізація студії-як поточної сторінки */
.current-studio,
.current-portfolio {
  color: var(--accent-color);
}

.current-studio::after,
.current-portfolio::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .current-studio::after,
  .current-portfolio::after {
    display: none;
  }
}

/* Стилізація портфоліо для html */
.portfolio {
  color: var(--main-color-text);
}

/* Стилізація портфоліо-ефект фокус і ховер */
.portfolio:hover,
.portfolio:focus {
  color: var(--accent-color);
}

/* Стилізація контактів */
.contacts,
.studio {
  color: var(--main-color-text);
}

/*  Стилізація контаків-ефект ховеру, фокусу */
.contacts:hover,
.contacts:focus,
.studio:hover,
.studio:focus {
  color: var(--accent-color);
}

/* стилізація конверту і мейлу */
@media screen and (max-width: 767px) {
  .authentication-list {
    margin-top: auto;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .authentication-list {
    margin-left: auto;

    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .authentication-list {
    flex-direction: row-reverse;
    gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .authentication-item + .authentication-item {
    margin-top: 32px;
  }
}

.auth {
  font-weight: 500;
  line-height: 1.16;

  color: var(--second-color-text);
}

@media screen and (min-width: 768px) {
  .auth {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.auth.smartphone {
  font-size: 34px;
  letter-spacing: 0.68px;

  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .auth.smartphone {
    font-size: 12px;
    letter-spacing: 0.24px;

    display: flex;

    color: var(--second-color-text);
  }
}

@media screen and (min-width: 1200px) {
  .auth.smartphone {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
  }
}

/* Стилізація телефону-ефект ховеру і фокусу */
.smartphone:hover,
.smartphone:focus {
  color: var(--accent-color);
}

/* іконка  телефону  */
.icon-smartphone {
  display: none;

  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .icon-smartphone {
    margin-right: 8px;

    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .icon-smartphone {
    margin-right: 10px;

    width: 10px;
    height: 16px;
  }
}

/* стилізація мейла  */
.auth.mail {
  font-size: 24px;
  letter-spacing: 0.48px;
}

@media screen and (min-width: 768px) {
  .auth.mail {
    font-size: 12px;

    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
  }
}

@media screen and (min-width: 1200px) {
  .auth.mail {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.28px;
  }
}

/* налаштування фокусу і ховеру для мейл */
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

/* іконка конверту  */
.icon-envelope {
  display: none;

  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .icon-envelope {
    margin-right: 8px;

    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .icon-envelope {
    margin-right: 10px;

    width: 16px;
    height: 12px;
  }
}

/* стилізація соціальних мереж мобільного меню  */
.mobile-social {
  display: flex;
}

@media screen and (min-width: 768px) {
  .mobile-social {
    display: none;
  }
}

.mobile-social-item{
  display: flex;
  align-items: center;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-social-item:not(:first-child)::before {
  content: ' ';

  display: block;

  width: 24px;
height: 1px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

/* Стилізація  фону "героя" */
.hero {
  /* для моб екрану */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  padding-top: 118px;
  padding-bottom: 118px;

  height: 100%;
  max-width: 1200px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero/hero-img-mobile_480.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--backgroud-color-hero);
}

/* медіа запити з ретіною (для hero (фонових зображень) */
/* екран, до 480px включно - з ретіною */
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio/hero/hero-img-mobile_960.webp);
  }
}

/* екран доівнює або більший ніж 481px */
@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio/hero/hero-img-tablet_768.webp);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio/hero/hero-img-tablet_1536.webp);
  }
}

/* екран доівнює або більший ніж 769px  */
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio/hero/hero-img-desktop_1600.webp);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio/hero/hero-img-desktop_3200.webp);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 94px;
  }
}

/* стилізація тексту героя */
.hero-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  max-width: 360px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-background);
}

/* екран компютера */
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;

    max-width: 696px;
  }
}

/* Стилізація кнопки в герої */
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--first-background);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  padding: 10px 24px;
  border-radius: 4px;

  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  padding: 93px 15px;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  backdrop-filter: blur(5px);

  overflow-y: scroll;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

@media screen and (min-width: 768px) {
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal {
  position: relative;

  padding: 40px;

  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  transform: scale(1);

  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 450px;
    width: 100%;
    min-height: 609px;

    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.button-close {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 0;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background: var(--first-background);
}

.button-close:hover .modal-icon,
.button-close:focus .modal-icon {
  fill: var(--accent-color);
}

/* ефект фокусу і ховера для кнопки в герої */
.hero-button:hover,
.hero-button:focus {
  color: var(--first-background);
  background-color: var(--background-color-button-hero);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-title {
  margin-bottom: 12px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.form-title {
  margin-bottom: 12px;

  display: block;

  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.6px;

  color: var(--main-color-text);
}

@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 1.15;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-style {
  padding: 10px 42px;

  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;

  fill: rgb(33, 33, 33);

  transition: fill 250ms linear;
}

.input-style:focus + .icon-modal {
  fill: var(--accent-color);
}

.input-style:focus {
  border-color: var(--accent-color);
}

.comment.input-style {
  padding: 12px 16px;
}

.form-style-text {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: start;

  color: #757575;
}

.form-field textarea::placeholder,
.input-style::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-field.textarea {
  margin-bottom: 20px;
}

.input-checkbox {
  appearance: none;
}

.icon-check-form {
  width: 16px;
  height: 15px;
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.input-checkbox:checked + .icon-check-form {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.text-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--second-color-text);
}

@media screen and (min-width: 1200px) {
  .text-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.text-checkbox.form-link {
  color: var(--accent-color);
}

.form-checkbox {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .form-checkbox {
    margin-bottom: 30px;
  }
}

.label-checkbox {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .label-checkbox {
    justify-content: center;
  }
}

.form-btn {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 52px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: transparent;
}

/* СЕКЦІЯ ОСОБЛИВОСТІ  */
.section-features {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-features {
    margin-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .features-list {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.features-icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-team);
  margin-bottom: 30px;
}

/* стилізація секції 3, особливості */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: start;
  }
}

/* стилізація тексту, особливості */
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

/* стилізація секції "робота" */
@media screen and (max-width: 1199px) {
  .work-type {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-type {
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    display: flex;
  }
}

.work-item {
  position: relative;

  width: 370px;
  height: 294px;
}

.work-item + .work-item {
  margin-left: 30px;
}

.position-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
}

.image-work {
  display: block;
}

/* стилізація секції наша команда */
/* Колір фону для секції "наша команда */
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;

  background-color: var(--background-color-team);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .team-list {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* Добавлення кольору фону для li */
.team-list > .team-item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
  background-color: var(--first-background);
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list > .team-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list > .team-item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team-img {
  margin-bottom: 30px;
}

/* стилізації імені, секція team */
.team-title-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--main-color-text);
}

/*  стилізація посади  */
.team-text {
  margin-bottom: 16px;

  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--second-color-text);
}

.team-item > .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons > .social-item {
  width: 44px;
  height: 44px;
}

.social-item > .social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #afb1b8;
  background-color: var(--first-background);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item > .social-link:hover,
.social-item > .social-link:focus {
  background-color: var(--accent-color);
  color: var(--first-background);
}

.team .social-icon {
  fill: currentColor;
}

/* СТИЛІЗАЦІЯ СЕКЦІЇ "КЛІЄНТИ" */
.clients {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    margin-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-item {
  height: 92px;

  flex-basis: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-client {
  fill: currentColor;
}

/* стилізація "веб" чорним кольором */
.logo-footer > .span-footer {
  color: var(--first-background);
}

/* СТИЛІЗАЦІЯ ФУТЕРА */
.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;


  background-color: var(--footer-background-color);
}

@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .logo-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .logo-wrapper {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-wrapper {
    gap: 94px;
  }
}

@media screen and (max-width: 767px) {
  .logo-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-list {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .list.footer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .list.footer {
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .container.footer {
    display: flex;
    justify-content: center;
  }
}

/* вирівнювання футера */
@media screen and (min-width: 1200px) {
  .container.footer {
    align-items: baseline;
  }
}

.logo-footer {
  margin-bottom: 28px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--first-background);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text:hover,
.footer-text:focus {
  color: var(--accent-color);
}

/* ефект ховера і фокусу для імейлу */
.footer-mail {
  color: var(--footer-main-color-text);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 12px;
}

/* ефект фокусу і ховера для телефону */
.footer-tel {
  color: var(--footer-main-color-text);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.text-soc-link {
  margin-bottom: 20px;

  display: block;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--first-background);
}

.social-icons-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item-footer {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--first-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
  fill: var(--accent-color);
}

.social-icon-footer {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .form-footer > .text-input {
    margin-bottom: 20px;
  }
}

.form-text {
  margin-bottom: 20px;

  display: block;

  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .form-text {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: flex;
    align-items: end;
  }
}

.form-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  max-width: 450px;
  width: 100%;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-background-color);
  outline: transparent;

  transition: border 250ms linear;
}

@media screen and (min-width: 1200px) {
  .form-input {
    margin-right: 12px;

    width: 358px;
  }
}

.form-input::placeholder {
  letter-spacing: 0.48px;

  color: rgba(255, 255, 255, 0.6);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.btn-form-footer {
  padding: 10px 28px 10px 31px;

  min-width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;
  border: transparent;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199px) {
  .btn-form-footer {
    margin-right: auto;
    margin-left: auto;
  }
}

.form-icon {
  margin-left: 12px;
  fill: var(--first-background);
}

/* СТИЛІЗAЦІЯ ПОРТФОЛІО */
.header-portfolio {
  margin-bottom: 60px;

  border-bottom: 1px solid #ececec;
}

.our-projects {
  margin-bottom: 60px;
}

.buttons-list {
  margin-bottom: 40px;

  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
}

@media screen and (max-width: 767px) {
  .buttons-list {
    max-width: 320px;

    row-gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .buttons-list {
    column-gap: 8px;
    justify-content: center;
  }
}

.button-item {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  cursor: pointer;

  color: var(--main-color-text);
  border: none;
  background-color: var(--background-color-team);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item.active {
  color: var(--first-background);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Кнопка "усі" синій фон */
/* Стилізація кнопки (для всіх кнопок) ефект ховеру і фокусу */
.button-item:hover,
.button-item:focus {
  color: var(--first-background);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list {
    row-gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .flex-item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .flex-item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .flex-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .flex-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

/* .flex-item:nth-child(3n) {
  margin-right: 0;
} */

/* .flex-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.flex-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-link:hover,
.flex-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.wrapper-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-link:hover .wrapper-text,
.flex-link:focus .wrapper-text {
  transform: translateY(0);
  opacity: 1;
}

.flex-text {
  position: absolute;
  top: 0;
  left: 0;

  padding: 77px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--first-background);

  opacity: 0;

  transition: opacity 250ms linear 250ms;
}

@media screen and (min-width: 768px) {
  .flex-text {
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-text {
    padding: 63px 24px;
  }
}

.flex-link:hover .flex-text,
.flex-link:focus .flex-text {
  opacity: 1;
}

/* Стилізація заголовка */
.header-text {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .header-text.techno {
    padding-bottom: 56px;
  }
}

.header-img {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-color-text);
}

/* Стилізація опису */
.text-img {
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--second-color-text);
}
